<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>262239091673-l8h3u6fv5j0qj63hajfda3847s296osd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.262239091673-l8h3u6fv5j0qj63hajfda3847s296osd</string>
	<key>API_KEY</key>
	<string>AIzaSyDFhM0s2U3Q1kCa1wQMe6-IEjffY-b1PTE</string>
	<key>GCM_SENDER_ID</key>
	<string>262239091673</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.webEngage.prodSwift</string>
	<key>PROJECT_ID</key>
	<string>webengage-prod</string>
	<key>STORAGE_BUCKET</key>
	<string>webengage-prod.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:262239091673:ios:95a157b01cce7b857277c8</string>
</dict>
</plist>